/* FullScreenPage.css */

.full-screen-container {
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Choose your desired background color */
  }
  